<!DOCTYPE html>
<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/qwi/style.css">

<body>
  <div id="container"></div>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <!--<script src="/d3/d3.js"></script>-->
  <script src="http://fb.me/react-0.12.2.js"></script>

  <script src="/data/nys_fips.js"></script>

  <script src="/d3/GroupedBarChart.js"></script>
  <script src="/d3/OverlappedBarChart.js"></script>
  <script src="/d3/StackedBarChart.js"></script>

  <script src="/react/charts/BaseBarChart.js"></script>

  <script src="/react/components/chartTypeSelector/ChartTypeSelector.js"></script>
  <script src="/react/components/chartTypeSelector/ChartTypeSelectorList.js"></script>
  <script src="/react/components/chartTypeSelector/ChartTypeSelectorListItem.js"></script>

  <script src="/react/components/countySelector/CountySelector.js"></script>
  <script src="/react/components/countySelector/CountySelectorList.js"></script>
  <script src="/react/components/countySelector/CountySelectorListItem.js"></script>

  <script src="/react/pages/QuarterlyTotalEmployment.js"></script>

</body>
